@import "tailwindcss";

@theme {
  --color-primary: #10b981;
  --color-primary-container: #10b981;
  --color-primary-fixed: #34d399;
  --color-primary-fixed-dim: #10b981;
  --color-on-primary: #002919;
  --color-on-primary-container: #002919;
  --color-on-primary-fixed: #002919;
  --color-on-primary-fixed-variant: #002919;
  
  --color-secondary: #c8c6c5;
  --color-secondary-container: #474746;
  --color-secondary-fixed: #e5e2e1;
  --color-secondary-fixed-dim: #c8c6c5;
  --color-on-secondary: #303030;
  --color-on-secondary-container: #b7b5b4;
  --color-on-secondary-fixed: #1b1b1c;
  --color-on-secondary-fixed-variant: #474746;

  --color-tertiary: #d9d7d6;
  --color-tertiary-container: #bdbbbb;
  --color-tertiary-fixed: #e4e2e1;
  --color-tertiary-fixed-dim: #c8c6c6;
  --color-on-tertiary: #303030;
  --color-on-tertiary-container: #4b4b4b;
  --color-on-tertiary-fixed: #1b1c1c;
  --color-on-tertiary-fixed-variant: #474747;

  --color-surface: #0F0F0F;
  --color-surface-dim: #131313;
  --color-surface-bright: #3a3939;
  --color-surface-container-lowest: #0e0e0e;
  --color-surface-container-low: #1c1b1b;
  --color-surface-container: #1E1E1E;
  --color-surface-container-high: #2D2D2D;
  --color-surface-container-highest: #353534;
  --color-surface-variant: #353534;
  --color-surface-tint: #f7be1d;
  --color-on-surface: #e5e2e1;
  --color-on-surface-variant: #d3c5ac;
  --color-background: #0F0F0F;
  --color-on-background: #e5e2e1;

  --color-error: #ffb4ab;
  --color-error-container: #93000a;
  --color-on-error: #690005;
  --color-on-error-container: #ffdad6;

  --color-outline: #9b8f79;
  --color-outline-variant: #4f4633;
  --color-inverse-surface: #e5e2e1;
  --color-inverse-on-surface: #313030;
  --color-inverse-primary: #785a00;
}

@keyframes snakeMotion {
  0% {
    top: 0%;
    left: 0%;
    transform: translate(-30%, -30%) scale(1);
  }
  25% {
    top: 0%;
    left: 100%;
    transform: translate(-70%, -30%) scale(1.2);
  }
  50% {
    top: 100%;
    left: 100%;
    transform: translate(-70%, -70%) scale(1);
  }
  75% {
    top: 100%;
    left: 0%;
    transform: translate(-30%, -70%) scale(1.2);
  }
  100% {
    top: 0%;
    left: 0%;
    transform: translate(-30%, -30%) scale(1);
  }
}

.animate-snake {
  animation: snakeMotion 14s ease-in-out infinite;
}

* {
  cursor: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSIjMTBiOTgxIiBzdHJva2U9IiNmZmZmZmYiIHN0cm9rZS13aWR0aD0iMS41Ij48cGF0aCBkPSJNMjAuMjUgNi4zNzVjMC0uODI4LS42NzItMS41LTEuNS0xLjVoLTMuMzc1Yy0uNDE0IDAtLjc1LS4zMzYtLjc1LS43NWEyLjYyNSAyLjYyNSAwIDAgMC01LjI1IDBjMCAuNDE0LS4zMzYgLjc1LS43NSAuNzVINi43NWMtLjgyOCAwLTEuNS42NzItMS41IDEuNXYzLjM3NWMwIC40MTQuMzM2Ljc1Ljc1Ljc1aDEuNVYxOS41YzAgLjgyOC42NzIgMS41IDEuNSAxLjVoOWMuODI4IDAgMS41LS42NzIgMS41LTEuNVYxMC41aDEuNWMuNDE0IDAgLjc1LS4zMzYuNzUtLjc1VjYuMzc1WiIvPjwvc3ZnPg=='), auto !important;
}